.row
  .col
    +textInput('character name')
  .col
    +textInput('age')
.row
  .col
    +numberInput('attack')
  .col
    +textInput('attack name')

+textarea('attack description')

select(name='attr_attack_type')
  each type in attackTypes
    option(value=type) #{type}

button(
  type='roll'
  name='roll_attack'
  value='&{template:custom} '
  + '{{title=@{attack_name} }} '
  + '{{@{attack_type}=[[@{attr_attack}d20]]}} '
  + '{{desc=**Definition:** @{attack_description} }}'
) Attack example
